page-ermes-pro-info {
  background-color: white;

  .back-button {
    color: white !important;
  }

  .back-button-text {
    color: white !important;
  }

  #head2 {
    background-color: #446f8b;
  }

  #bodycolor7 {
    background-color: white;
  }

  #info {
    color: black;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 17px;
  }

  #invisible {
    color: white;
  }

  #headcolor {
    color: white;
  }

  #headalign1 {
    transform: translateX(20px);
  }

  #button10 {
    display: block;
    text-align: center;
    background-color: #446f8b;
    font-size: 25px;
    color: white;
    margin: 20px auto;
    height: 45px;
  }

  #img10 {
    width: 200px;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  #button10 {
    display: block;
    border-radius: 100px;
    background-color: #446f8b;
    font-size: 18px;
    width: 150px;
    height: 40px;
    color: white;
    margin: auto;
    margin-top: 10px;
  }
}
