page-ermes-shoe-show {
  .toolbar-background {
    background-color: #446f8b !important;
  }

  .back-button {
    color: white !important;
  }

  .back-button-icon {
    color: white !important;
  }

  .back-button-text {
    color: white !important;
  }

  .back-button {
    color: white !important;
  }

  .back-button-icon {
    color: white !important;
  }

  .back-button-text {
    color: white !important;
  }

  .bluetext {
    color: #446f8b;
    text-decoration: none !important;
  }

  #head {
    background-color: #446f8b;
  }
  #head {
    background-color: #446f8b;
  }

  #shoeswhite {
    color: white;
  }

  .align {
    width: 50%;
    display: inline-block;
  }

  #fat {
    display: flex;
    text-decoration: none !important;
  }

  #imgshoes {
    width: 45%;
    height: 50%;
  }

  .marginstuff {
    margin-top: 30px;
  }
  #textright {
    color: black;
    padding-left: 20px;
  }

  .bluetext {
    padding-left: 20px;
  }
}
